<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Search</title>
</head>
<body>
  <form action="/search" method="GET">
    <input type="text" name="searchString" placeholder="Enter a movie or show">
    <button type="submit">Search</button>
        <a href="/favorite">View Favorites</a>
    
  </form>
</body>
</html>
